/* Start of Aayush CSS */

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  body, html{
  height: 100%;
  margin: 0;
  background-color: rgb(23, 70, 143);
  }
  
  .close {
  color: #ffffff;
  float: right;
  font-size: 28px;
  font-weight: bold;
  opacity: 1;
  transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
  color: rgb(185, 184, 184);
  text-decoration: none;
  cursor: pointer;
  opacity: 0.9;
  }
  
  .button {
  margin-top: 2%;
  font-size: 100%;
  color: rgb(23, 70, 143);
  background-color: white;
  border-radius: 8px;
  cursor: pointer;
  opacity: 1;
  transition: 0.3s;
  }
  
  .button:hover {
  background-color: rgb(23, 70, 143);
  color: rgb(255, 255, 255);
  opacity: 0.9;
  }
  
  .header {
  text-align: center;
  color:rgb(255, 255, 255);
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  }
  
  .logo {
  width: 55%;
  }
  
  .navbar {
  top: 0;
  left: 0;
  z-index: 999;
  min-width: 100%;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  }
  
  .navbar a {
  float: right;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 50px;
  padding-left: 50px;
  color: rgb(23, 70, 143);
  text-decoration: none;
  font-size: 18px;
  height: 25px;
  }
  
  .navbar a:hover {
  background-color: rgb(185, 184, 184);
  border-bottom: 3px solid rgb(23, 70, 143);
  }
  
  .dropdown {
  float: right;
  overflow: hidden;
  }
  
  .dropdown {
  font-size: 16px;  
  border: none;
  outline: none;
  color: rgb(23, 70, 143);
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  }
  
  .dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  max-width: 198px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  }
  
  .dropdown-content a {
  float: none;
  color: rgb(23, 70, 143);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  }
  
  .dropdown:hover .dropdown-content {
  display: block;
  }
  
  .dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #ffffff;
  max-width: 198px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  }
  
  .dropdown-content1 a {
  float: none;
  color: rgb(23, 70, 143);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  }
  
  .slideshow {
  width: 100%;
  height: 700px;
  }
  
  .mySlides {
  display: none;
  background-color: white;
  }
  
  .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  }
  
  .finder {
  background-color: rgb(23, 70, 143);
  width: 50%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: -140px;
  left: 0;
  right: 0;
  text-align: center;
  padding: 50px;
  font-size: 20px;
  }
  
  @media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }
  
  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
  }
  
  .fndrsubmit {
  font-size: 100%;
  padding: 10px; 
  color: white;
  background-color: black;
  cursor: pointer;
  opacity: 1;
  transition: 0.3s;
  border: 1px solid black;
  }
  
  .fndrsubmit:hover {
  background-color: white;
  color: rgb(23, 70, 143);
  }
  
  .parallax {
  background-image: url('../images/parallax.jpg');
  height: 70%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
  
  .text {
  background-color: white;
  width: 100%;
  content: "";
  clear: both;
  display: table;
  }
  
  .verticalline {
  border-left: 3px solid rgb(185, 184, 184);
  height: 62%;
  position: absolute;
  left: 50%;
  margin-left: -3px; 
  }
  
  .testimonials {
  width: 100%;
  background-color: white;
  color:rgb(23, 70, 143);
  }
  
  .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
  transition: 0.3s;
  width: 50%;
  }
  
  .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
  }
  
  .card-container {
  padding: 2px 16px;
  }
  
  .footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  padding-bottom: 1%;
  }
  
  .footer ul {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  }
  
  .footer li {
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  }
  
  .footer a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 18px;
  height: 25px;
  }
  
  @-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
  }
  
  @keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
  }
  
  @media only screen and (max-width: 600px) {
  .navbar a {
    float: none;
    display: inline-block;
  }
  .modal {
    width: 55%;
  }
  .modal-text p {
    margin-left: 30%;
  }
  .slideshow {
    height: 350px;
  }
  .finder {
    width: 80%;
    padding: 20px;
    font-size: 10px;
    display: block;
    margin-top: -120px;
  }
  .parallax {
    height: 70%;
  }
  .verticalline {
    display: none;
  }
  }
  
  .column {
  float: left;
  width: 25%;
  box-sizing: border-box;
  }
  
  .row {
  background-color: rgb(23, 70, 143);
  }
  
  .row:after {
  content: "";
  display: table;
  clear: both;
  }
  
  @media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
  }
  
  .card2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  padding: 16px;
  text-align: center;
  color: rgb(23, 70, 143);
  }
  
  .chatbot-icon {
  position: fixed;
  right: 1%;
  bottom: 1%;
  z-index: 1;
  background-color: white;
  color: rgb(23, 70, 143);
  text-align: center;
  padding: 15px;
  border-radius: 50%;
  }
  
  
  /* end of Aayush CSS */


@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,700i,900");
html { font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

.container { margin-right: auto; margin-left: auto; padding-left: 50px; padding-right: 15px; }

.container:before, .container:after { content: " "; display: table; }

.container:after { clear: both; }

@media (min-width: 768px) { .container { width: 100px; } }

@media (min-width: 992px) { .container { width: 970px; } }

@media (min-width: 1200px) { .container { width: 1170px; } }

.container-fluid { margin-right: auto; margin-left: auto; padding-left: 15px; padding-right: 15px; }

.container-fluid:before, .container-fluid:after { content: " "; display: table; }

.container-fluid:after { clear: both; }

.row { margin-left: -15px; margin-right: -15px; }

.row:before, .row:after { content: " "; display: table; }

.row:after { clear: both; }


@media (min-width: 768px) { .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 { float: left; }
  .col-sm-1 { width: 8.33333%; }
  .col-sm-2 { width: 16.66667%; }
  .col-sm-3 { width: 25%; }
  .col-sm-4 { width: 33.33333%; }
  .col-sm-5 { width: 41.66667%; }
  .col-sm-6 { width: 50%; }
  .col-sm-7 { width: 58.33333%; }
  .col-sm-8 { width: 66.66667%; }
  .col-sm-9 { width: 75%; }
  .col-sm-10 { width: 83.33333%; }
  .col-sm-11 { width: 91.66667%; }
  .col-sm-12 { width: 100%; }
  .col-sm-pull-0 { right: auto; }
  .col-sm-pull-1 { right: 8.33333%; }
  .col-sm-pull-2 { right: 16.66667%; }
  .col-sm-pull-3 { right: 25%; }
  .col-sm-pull-4 { right: 33.33333%; }
  .col-sm-pull-5 { right: 41.66667%; }
  .col-sm-pull-6 { right: 50%; }
  .col-sm-pull-7 { right: 58.33333%; }
  .col-sm-pull-8 { right: 66.66667%; }
  .col-sm-pull-9 { right: 75%; }
  .col-sm-pull-10 { right: 83.33333%; }
  .col-sm-pull-11 { right: 91.66667%; }
  .col-sm-pull-12 { right: 100%; }
  .col-sm-push-0 { left: auto; }
  .col-sm-push-1 { left: 8.33333%; }
  .col-sm-push-2 { left: 16.66667%; }
  .col-sm-push-3 { left: 25%; }
  .col-sm-push-4 { left: 33.33333%; }
  .col-sm-push-5 { left: 41.66667%; }
  .col-sm-push-6 { left: 50%; }
  .col-sm-push-7 { left: 58.33333%; }
  .col-sm-push-8 { left: 66.66667%; }
  .col-sm-push-9 { left: 75%; }
  .col-sm-push-10 { left: 83.33333%; }
  .col-sm-push-11 { left: 91.66667%; }
  .col-sm-push-12 { left: 100%; }
  .col-sm-offset-0 { margin-left: 0%; }
  .col-sm-offset-1 { margin-left: 8.33333%; }
  .col-sm-offset-2 { margin-left: 16.66667%; }
  .col-sm-offset-3 { margin-left: 25%; }
  .col-sm-offset-4 { margin-left: 33.33333%; }
  .col-sm-offset-5 { margin-left: 41.66667%; }
  .col-sm-offset-6 { margin-left: 50%; }
  .col-sm-offset-7 { margin-left: 58.33333%; }
  .col-sm-offset-8 { margin-left: 66.66667%; }
  .col-sm-offset-9 { margin-left: 75%; }
  .col-sm-offset-10 { margin-left: 83.33333%; }
  .col-sm-offset-11 { margin-left: 91.66667%; }
  .col-sm-offset-12 { margin-left: 100%; } }

.pull-right { float: right !important; }

.pull-left { float: left !important; }

.hide { display: none !important; }

.show { display: block !important; }

.invisible { visibility: hidden; }

.affix { position: fixed; }

@-ms-viewport { width: device-width; }

@media (max-width: 767px) { .section-title { margin: 0 0 25px; padding: 50px 0 0; font-size: 18px; } }

.two-column-container { padding: 75px 0 40px; }

@media (max-width: 767px) { .two-column-container.container { padding: 50px 20px 7px; } }

.two-column-container .container { max-width: 100%; width: 100%; }

@media (max-width: 767px) { .two-column-container .container { padding: 0; } }

.two-column-container .rich-text { padding: 0; }

.two-column-container .rich-text.wrap-1 { line-height: 28px; }

.two-column-container .rich-text.wrap-1 ul { line-height: 28px; }

.two-column-container .rich-text.wrap-1 p { line-height: 28px; }

@media (max-width: 767px) { .two-column-container .rich-text.wrap-1 p { margin: 0 0 0px; } }

@media (max-width: 767px) { .two-column-container .rich-text.wrap-1 ul { margin: 0 0 0px; } }

.two-column-container .rich-text .action-button { float: none; }

.two-column-container .rich-text h3 { margin: 0 0 23px; }

@media (max-width: 767px) { .two-column-container .rich-text h3 { margin: 0 0 0px; } }

.banner { min-height: 29vw; background-size: cover; background-position: 50% 50%; color: #fff; font-size: 30px; line-height: 1.2; font-weight: 300; padding: 65px 0; position: relative; display: flex; align-items: center; }

.banner:after { content: ''; display: block; width: 1px; margin: 0 -1px 0 0; height: calc(29vw  - 130px); }

.banner:before { content: ""; position: absolute; top: 0; bottom: 0; left: 0; right: 0; background: linear-gradient(to top, #000 0%, rgba(0, 0, 0, 0) 100%); opacity: 0.5; }

@media (max-width: 767px) { .banner { min-height: 340px; padding: 120px 0; font-size: 18px; } }

.banner .container { position: relative; z-index: 1; }

.banner p { margin: 0; }

.banner h1 { font-size: 60px; line-height: 1.2; font-weight: 900; margin: 0; letter-spacing: 1px; }

@media (max-width: 767px) { .banner h1 { font-size: 30px; line-height: 1; } }

.banner + .opening-container { transform: translateY(-50%); margin: 0 auto; }

.banner .banner-text { margin-top: 0; }

@media (max-width: 767px) { .banner .banner-text { margin-top: 15px; } }


@media (max-width: 767px) { .blue-container-full-width .blue-inner-container .wrap-1.rich-text .container { padding: 0 20px; } }

.blue-container-full-width .blue-inner-container .wrap-1 ul:first-child { margin-bottom: 0; }

.action-button { display: block; float: right; max-width: 250px; padding: 15px 20px; color: #fff; background: #e7767a; line-height: normal; text-align: center; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

@media (max-width: 1023px) { .action-button { max-width: 180px; } }

@media (max-width: 767px) { .action-button { float: none; width: 100%; max-width: none; margin: 0 auto; } }

.action-button:active, .action-button:hover, .action-button:focus { background: ​ #f2aeb1; color: #fff; text-decoration: none; }

.experience { padding: 0 0 80px; }

.experience .section-title { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin: 0 0 15px; }

.experience-description { max-width: 910px; margin: 0 auto 42px; font-size: 16px; line-height: 27px; }

@media (max-width: 767px) { .experience-description { margin: 0 auto 23px; } }

.experience-list { padding: 0; list-style-type: none; border: 1px solid #b0c0d9; }

.experience-list li { display: flex; align-items: center; padding: 19px; font-size: 24px; border-bottom: 1px solid #b0c0d9; counter-increment: step-counter; overflow: hidden; }

@media (max-width: 767px) { .experience-list li { font-size: 18px; } }

.experience-list li:last-child { border-bottom: none; }

.experience-list li::before { content: counter(step-counter); display: inline-block; min-width: 50px; padding: 8px; margin-right: 20px; text-align: center; font-size: 24px; font-weight: 900; color: #fff; background:white; border-radius: 50%; }

@media (max-width: 767px) { .experience-list li::before { min-width: 40px; margin-right: 10px; font-size: 18px; } }



ul { list-style-type: none; padding: 0; margin: 0; }


@media (max-width: 767px) { main { padding-top: 64px; } }

.two-column-container { padding: 75px 0 40px; }

@media (max-width: 767px) { .two-column-container.container { padding: 50px 20px 7px; } }

.two-column-container .container { max-width: 100%; width: 100%; }

@media (max-width: 767px) { .two-column-container .container { padding: 0; } }

.two-column-container .rich-text { padding: 0; }

.two-column-container .rich-text.wrap-1 { line-height: 28px; }

.two-column-container .rich-text.wrap-1 ul { line-height: 28px; }

.two-column-container .rich-text.wrap-1 p { line-height: 28px; }

@media (max-width: 767px) { .two-column-container .rich-text.wrap-1 p { margin: 0 0 12px; } }

@media (max-width: 767px) { .two-column-container .rich-text.wrap-1 ul { margin: 0 0 34px; } }

.two-column-container .rich-text .action-button { float: none; }

.two-column-container .rich-text h3 { margin: 0 0 23px; }


.col-centered { float: none; margin: 0 auto; }
.container .rich-text.wrap-1 .container { width: 100%; padding: 0; }



.subnav { max-width: 363px; width: 100%; border: 1px solid #cdcdcd; margin: 0 0 15px; }

@media (max-width: 767px) { .subnav { margin: 0 auto 46px; } }

.subnav-container { display: flex; justify-content: flex-end; }

@media (max-width: 767px) { .subnav-container { padding: 0; display: block; } }

.subnav h3 { font-weight: bold; font-size: 18px; line-height: 36px; padding: 18px 24px 17px; margin: 0; min-height: 73px; }

@media (max-width: 767px) { .subnav h3 { padding: 18px 19px 17px; position: relative; } }

.subnav.active .burger-menu:before, .subnav.active .burger-menu:after { transform: rotate(45deg); top: 46%; transition: visibility 0.2s, opacity 0.2s, transform 0.2s 0.2s, top 0.2s; }

.subnav.active .burger-menu:after { transform: rotate(-45deg); }

.subnav.active .burger-menu span { opacity: 0; visibility: hidden; }

.subnav .burger-menu { width: 18px; height: 15px; position: relative; display: none; vertical-align: -2px; margin: 0 20px 0 0; position: absolute; top: 29px; left: 19px; }

@media (max-width: 767px) { .subnav .burger-menu { display: inline-block; } }

.subnav .burger-menu:before, .subnav .burger-menu:after { content: ''; }

.subnav .burger-menu:before, .subnav .burger-menu:after, .subnav .burger-menu span { transition: visibility 0.2s, opacity 0.2s, transform 0.2s, top 0.2s 0.2s; top: 0; left: 0; position: absolute; height: 3px; background: #17468f; width: 100%; border-radius: 2px; }

.subnav .burger-menu span { top: 6px; }

.subnav .burger-menu:after { top: 12px; }

.subnav .accordion { font-size: 16px; line-height: 36px; }

.subnav .accordion > li { min-height: 72px; }

.subnav .accordion > li.active .opener:hover, .subnav .accordion > li.active .opener:focus { text-decoration: none; color: white; }

.subnav .accordion > li.active .opener:before { transform: rotate(180deg); }

.subnav .accordion > li .holder { display: flex; padding: 18px 32px 17px; border-top: 1px solid #cdcdcd; position: relative; }

@media (max-width: 767px) { .subnav .accordion > li .holder { padding: 18px 20px 17px; } }

.subnav .accordion > li .holder.has-drop { padding: 18px 85px 17px 32px; }

@media (max-width: 767px) { .subnav .accordion > li .holder.has-drop { padding: 18px 85px 17px 20px; } }

.subnav .accordion a { color:white; font-weight: bold; }

.subnav .accordion .slide { padding: 24px 30px; background: #f1f1f1; line-height: 24px; border-top: 1px solid #cdcdcd; }

@media (max-width: 767px) { .subnav .accordion .slide { padding: 24px 20px; } }

.subnav .accordion .slide li { margin: 0 0 12px; }

.subnav .accordion .slide li:last-child, .subnav .accordion .slide li:only-child { margin: 0; }

.subnav .accordion .slide a { font-weight: normal; }

.subnav .accordion .opener { width: 73px; height: 100%; position: absolute; right: 0; top: 0; font-size: 0; line-height: 0; text-align: center; display: flex; align-items: center; justify-content: center; border-left: 1px solid #cdcdcd; color: #b2b2b2; }

.subnav .accordion .opener:hover, .subnav .accordion .opener:focus { text-decoration: none; color: #17468f; }

.subnav .accordion .opener:before { content: '\e90a'; font-family: "icomoon"; font-size: 24px; line-height: 1; font-weight: normal; display: inline-block; transition: transform 0.2s; }


