* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  body, html{
  height: 100%;
  margin: 0;
  background-color: rgb(23, 70, 143);
  }
  
  .close {
  color: #ffffff;
  float: right;
  font-size: 28px;
  font-weight: bold;
  opacity: 1;
  transition: 0.3s;
  }

  .container8 { 
    position: relative; 
    text-align: center; 
    color: white; 
  }
  .centered8 {
    position: absolute; 
    top: 30%; 
    left: 50%; 
    transform: translate(-50%, 50%); 
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800; 
    font-size: 60px; 
    letter-spacing: 1px; 
  }
  
  .close:hover,
  .close:focus {
  color: rgb(185, 184, 184);
  text-decoration: none;
  cursor: pointer;
  opacity: 0.9;
  }
  
  .button {
  margin-top: 2%;
  font-size: 100%;
  color: rgb(23, 70, 143);
  background-color: white;
  border-radius: 8px;
  cursor: pointer;
  opacity: 1;
  transition: 0.3s;
  }
  
  .button:hover {
  background-color: rgb(23, 70, 143);
  color: rgb(255, 255, 255);
  opacity: 0.9;
  }
  
  .header {
  text-align: center;
  color:rgb(255, 255, 255);
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  }
  
  .logo {
  width: 55%;
  }
  
  .navbar {
  top: 0;
  left: 0;
  z-index: 999;
  min-width: 100%;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  }
  
  .navbar a {
  float: right;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 50px;
  padding-left: 50px;
  color: rgb(23, 70, 143);
  text-decoration: none;
  font-size: 18px;
  height: 25px;
  }
  
  .navbar a:hover {
  background-color: rgb(185, 184, 184);
  border-bottom: 3px solid rgb(23, 70, 143);
  }
  
  .dropdown {
  float: right;
  overflow: hidden;
  }
  
  .dropdown {
  font-size: 16px;  
  border: none;
  outline: none;
  color: rgb(23, 70, 143);
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  }
  
  .dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  max-width: 198px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  }
  
  .dropdown-content a {
  float: none;
  color: rgb(23, 70, 143);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  }
  
  .dropdown:hover .dropdown-content {
  display: block;
  }
  
  .dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #ffffff;
  max-width: 198px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  }
  
  .dropdown-content1 a {
  float: none;
  color: rgb(23, 70, 143);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  }
  
  .slideshow {
  width: 100%;
  height: 700px;
  }
  
  .mySlides {
  display: none;
  background-color: white;
  }
  
  .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  }
  
  .finder {
  background-color: rgb(23, 70, 143);
  width: 50%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: -140px;
  left: 0;
  right: 0;
  text-align: center;
  padding: 50px;
  font-size: 20px;
  }
  
  @media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }
  
  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
  }
  
  .fndrsubmit {
  font-size: 100%;
  padding: 10px; 
  color: white;
  background-color: black;
  cursor: pointer;
  opacity: 1;
  transition: 0.3s;
  border: 1px solid black;
  }
  
  .fndrsubmit:hover {
  background-color: white;
  color: rgb(23, 70, 143);
  }
  
  .parallax {
  background-image: url('../images/parallax.jpg');
  height: 70%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
  
  .text {
  background-color: white;
  width: 100%;
  content: "";
  clear: both;
  display: table;
  }

  .hiring {
    background-color: rgb(23, 70, 143);
    padding: 5px;
    color: white;
    margin-top: -30px;
    font-size: 25px;
  }
  
  .verticalline {
  border-left: 3px solid rgb(185, 184, 184);
  height: 62%;
  position: absolute;
  left: 50%;
  margin-left: -3px; 
  }
  
  .testimonials {
  width: 100%;
  background-color: white;
  color:rgb(23, 70, 143);
  }
  
  .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
  transition: 0.3s;
  width: 50%;
  }
  
  .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
  }
  
  .card-container {
  padding: 2px 16px;
  }
  
  .footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  padding-bottom: 1%;
  }
  
  .footer ul {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  }
  
  .footer li {
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  }
  
  .footer a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 18px;
  height: 25px;
  }
  
  @-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
  }
  
  @keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
  }
  
  @media only screen and (max-width: 600px) {
  .navbar a {
    float: none;
    display: inline-block;
  }
  .modal {
    width: 55%;
  }
  .modal-text p {
    margin-left: 30%;
  }
  .slideshow {
    height: 350px;
  }
  .finder {
    width: 80%;
    padding: 20px;
    font-size: 10px;
    display: block;
    margin-top: -120px;
  }
  .parallax {
    height: 70%;
  }
  .verticalline {
    display: none;
  }
  }
  
  .column {
  float: left;
  width: 25%;
  box-sizing: border-box;
  }
  
  .row {
  background-color: rgb(23, 70, 143);
  }
  
  .row:after {
  content: "";
  display: table;
  clear: both;
  }
  
  @media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
  }
  
  .card2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  padding: 16px;
  text-align: center;
  color: rgb(23, 70, 143);
  }
  
  .chatbot-icon {
  position: fixed;
  right: 1%;
  bottom: 1%;
  z-index: 1;
  background-color: white;
  color: rgb(23, 70, 143);
  text-align: center;
  padding: 15px;
  border-radius: 50%;
  }
  
  .list-inline {
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
  }
  
  .list-inline > li { 
    display: inline-block; 
    padding-left: 5px; 
    padding-right: 5px; 
  }
  
  .container { 
    margin-right: auto; 
    margin-left: auto; 
    padding-left: 15px; 
    padding-right: 15px; 
  }
  
  .container:before, .container:after { 
    content: " "; 
    display: table; }
  
  .container:after { 
    clear: both; 
  }
  
  @media (min-width: 768px) { 
    .container { 
      width: 750px; 
    } 
  }
  
  @media (min-width: 992px) { 
    .container { 
      width: 970px; 
    } 
  }
  
  @media (min-width: 1200px) { 
    .container { 
      width: 1170px; 
    } 
  }  
  
  .hidden { 
    display: none !important; 
  }

  .open-positions-container { 
    font-size: 18px; 
    line-height: 36px; 
    border-top: 4px solid #17468f; 
    margin: 0 0 50px; 
  }
  
  .open-positions-container h3 { 
    font-size: 24px; 
    line-height: 36px; 
    color: #17468f; 
    margin: 0; 
    font-weight: bold; 
  }
  
  .open-positions-container h3 a { 
    color: inherit; 
  }
  
  .open-positions-container .content-container { 
    display: flex; 
    justify-content: space-between; 
    border: 1px solid #ccc; 
    border-width: 0 1px 1px 1px; 
    background: #fff;
   }
  
  .open-positions-container ul { 
    padding: 3px 0 0; 
    margin: 0 -8px; 
  }
  
  .open-positions-container ul li { 
    position: relative; 
    padding: 0 8px; 
  }
  
  .open-positions-container ul li:not(:last-child):before { 
    content: "|"; 
    position: absolute; 
    color: #ccc; 
    right: -4px; 
    top: -1px; 
  }
  
  .open-positions-container .text-col { 
    max-width: calc(100% - 267px); 
    padding: 29px 40px; 
  }
  
  .open-positions-container .date-col { 
    display: flex; 
    align-items: center; 
    justify-content: center;
    text-align: center; 
    width: 267px; 
    border-left: 1px solid #ccc; 
    font-size: 16px; 
    padding: 15px 20px;
  }