/* Start of Aayush CSS */

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  body, html{
  height: 100%;
  margin: 0;
  background-color: rgb(23, 70, 143);
  }
  
  .close {
  color: #ffffff;
  float: right;
  font-size: 28px;
  font-weight: bold;
  opacity: 1;
  transition: 0.3s;
  }

  .container8 { 
    position: relative; 
    text-align: center; 
    color: white; 
  }
  .centered8 {
    position: absolute; 
    top: 30%; 
    left: 50%; 
    transform: translate(-50%, 50%); 
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800; 
    font-size: 60px; 
    letter-spacing: 1px; 
  }
  
  .close:hover,
  .close:focus {
  color: rgb(185, 184, 184);
  text-decoration: none;
  cursor: pointer;
  opacity: 0.9;
  }
  
  .button {
  margin-top: 2%;
  font-size: 100%;
  color: rgb(23, 70, 143);
  background-color: white;
  border-radius: 8px;
  cursor: pointer;
  opacity: 1;
  transition: 0.3s;
  }
  
  .button:hover {
  background-color: rgb(23, 70, 143);
  color: rgb(255, 255, 255);
  opacity: 0.9;
  }
  
  .header {
  text-align: center;
  color:rgb(255, 255, 255);
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  }
  
  .logo {
  width: 55%;
  }
  
  .navbar {
  top: 0;
  left: 0;
  z-index: 999;
  min-width: 100%;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  }
  
  .navbar a {
  float: right;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 50px;
  padding-left: 50px;
  color: rgb(23, 70, 143);
  text-decoration: none;
  font-size: 18px;
  height: 25px;
  }
  
  .navbar a:hover {
  background-color: rgb(185, 184, 184);
  border-bottom: 3px solid rgb(23, 70, 143);
  }
  
  .dropdown {
  float: right;
  overflow: hidden;
  }
  
  .dropdown {
  font-size: 16px;  
  border: none;
  outline: none;
  color: rgb(23, 70, 143);
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  }
  
  .dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  max-width: 198px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  }
  
  .dropdown-content a {
  float: none;
  color: rgb(23, 70, 143);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  }
  
  .dropdown:hover .dropdown-content {
  display: block;
  }
  
  .dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #ffffff;
  max-width: 198px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  }
  
  .dropdown-content1 a {
  float: none;
  color: rgb(23, 70, 143);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  }
  
  .slideshow {
  width: 100%;
  height: 700px;
  }
  
  .mySlides {
  display: none;
  background-color: white;
  }
  
  .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  }
  
  .finder {
  background-color: rgb(23, 70, 143);
  width: 50%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: -140px;
  left: 0;
  right: 0;
  text-align: center;
  padding: 50px;
  font-size: 20px;
  }
  
  @media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }
  
  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
  }
  
  .fndrsubmit {
  font-size: 100%;
  padding: 10px; 
  color: white;
  background-color: black;
  cursor: pointer;
  opacity: 1;
  transition: 0.3s;
  border: 1px solid black;
  }
  
  .fndrsubmit:hover {
  background-color: white;
  color: rgb(23, 70, 143);
  }
  
  .parallax {
  background-image: url('../images/parallax.jpg');
  height: 70%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
  
  .text {
  background-color: white;
  width: 100%;
  content: "";
  clear: both;
  display: table;
  }
  
  .verticalline {
  border-left: 3px solid rgb(185, 184, 184);
  height: 62%;
  position: absolute;
  left: 50%;
  margin-left: -3px; 
  }
  
  .testimonials {
  width: 100%;
  background-color: white;
  color:rgb(23, 70, 143);
  }
  
  .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
  transition: 0.3s;
  width: 50%;
  }
  
  .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
  }
  
  .card-container {
  padding: 2px 16px;
  }
  
  .footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  padding-bottom: 1%;
  }
  
  .footer ul {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  }
  
  .footer li {
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  }
  
  .footer a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 18px;
  height: 25px;
  }
  
  @-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
  }
  
  @keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
  }
  
  @media only screen and (max-width: 600px) {
  .navbar a {
    float: none;
    display: inline-block;
  }
  .modal {
    width: 55%;
  }
  .modal-text p {
    margin-left: 30%;
  }
  .slideshow {
    height: 350px;
  }
  .finder {
    width: 80%;
    padding: 20px;
    font-size: 10px;
    display: block;
    margin-top: -120px;
  }
  .parallax {
    height: 70%;
  }
  .verticalline {
    display: none;
  }
  }
  
  .column {
  float: left;
  width: 25%;
  box-sizing: border-box;
  }
  
  .row {
  background-color: rgb(23, 70, 143);
  }
  
  .row:after {
  content: "";
  display: table;
  clear: both;
  }
  
  @media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
  }
  
  .card2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  padding: 16px;
  text-align: center;
  color: rgb(23, 70, 143);
  }
  
  .chatbot-icon {
  position: fixed;
  right: 1%;
  bottom: 1%;
  z-index: 1;
  background-color: white;
  color: rgb(23, 70, 143);
  text-align: center;
  padding: 15px;
  border-radius: 50%;
  }
  
  
  /* end of Aayush CSS */
  
  
  .lead { margin-bottom: 20px; font-size: 16px; font-weight: 300; line-height: 1.4; }
  
  @media (min-width: 768px) { .lead { font-size: 21px; } }
  
  small, .small { font-size: 85%; }
  
  mark, .mark { background-color: #fcf8e3; padding: .2em; }
  
  .text-left { text-align: left; }
  
  .text-right { text-align: right; }
  
  .text-center { text-align: center; }
  
  .text-justify { text-align: justify; }
  
  .text-nowrap { white-space: nowrap; }
  
  .text-lowercase { text-transform: lowercase; }
  
  .text-uppercase, .initialism { text-transform: uppercase; }
  
  .text-capitalize { text-transform: capitalize; }
  
  .text-muted { color: #777777; }
  
  .text-primary { color: #337ab7; }
  
  a.text-primary:hover, a.text-primary:focus { color: #286090; }
  
  .text-success { color: #3c763d; }
  
  a.text-success:hover, a.text-success:focus { color: #2b542c; }
  
  .text-info { color: #31708f; }
  
  a.text-info:hover, a.text-info:focus { color: #245269; }
  
  .text-warning { color: #8a6d3b; }
  
  a.text-warning:hover, a.text-warning:focus { color: #66512c; }
  
  .text-danger { color: #a94442; }
  
  a.text-danger:hover, a.text-danger:focus { color: #843534; }
  
  .bg-primary { color: #fff; }
  
  .bg-primary { background-color: #337ab7; }
  
  a.bg-primary:hover, a.bg-primary:focus { background-color: #286090; }
  
  .bg-success { background-color: #dff0d8; }
  
  a.bg-success:hover, a.bg-success:focus { background-color: #c1e2b3; }
  
  .bg-info { background-color: #d9edf7; }
  
  a.bg-info:hover, a.bg-info:focus { background-color: #afd9ee; }
  
  .bg-warning { background-color: #fcf8e3; }
  
  a.bg-warning:hover, a.bg-warning:focus { background-color: #f7ecb5; }
  
  .bg-danger { background-color: #f2dede; }
  
  a.bg-danger:hover, a.bg-danger:focus { background-color: #e4b9b9; }
  
  .page-header { padding-bottom: 9px; margin: 40px 0 20px; border-bottom: 1px solid #eeeeee; }
  
  ul, ol { margin-top: 0; margin-bottom: 10px; }
  
  ul ul, ul ol, ol ul, ol ol { margin-bottom: 0; }
  
  .list-unstyled { padding-left: 0; list-style: none; }
  
  .list-inline { padding-left: 0; list-style: none; margin-left: -5px; }
  
  .list-inline > li { display: inline-block; padding-left: 5px; padding-right: 5px; }
  
  dl { margin-top: 0; margin-bottom: 20px; }
  
  dt, dd { line-height: 1.42857; }
  
  dt { font-weight: bold; }
  
  dd { margin-left: 0; }
  
  .dl-horizontal dd:before, .dl-horizontal dd:after { content: " "; display: table; }
  
  .dl-horizontal dd:after { clear: both; }
  
  @media (min-width: 768px) { .dl-horizontal dt { float: left; width: 160px; clear: left; text-align: right; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
    .dl-horizontal dd { margin-left: 180px; } }
  
  abbr[title], abbr[data-original-title] { cursor: help; border-bottom: 1px dotted #777777; }
  
  .initialism { font-size: 90%; }
  
  address { margin-bottom: 20px; font-style: normal; line-height: 1.42857; }
  
  code, kbd, pre, samp { font-family: Menlo, Monaco, Consolas, "Courier New", monospace; }
  
  code { padding: 2px 4px; font-size: 90%; color: #c7254e; background-color: #f9f2f4; border-radius: 4px; }
  
  kbd { padding: 2px 4px; font-size: 90%; color: #fff; background-color: #333; border-radius: 3px; box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25); }
  
  kbd kbd { padding: 0; font-size: 100%; font-weight: bold; box-shadow: none; }
  
  pre { display: block; padding: 9.5px; margin: 0 0 10px; font-size: 13px; line-height: 1.42857; word-break: break-all; word-wrap: break-word; color: #333333; background-color: #f5f5f5; border: 1px solid #ccc; border-radius: 4px; }
  
  pre code { padding: 0; font-size: inherit; color: inherit; white-space: pre-wrap; background-color: transparent; border-radius: 0; }
  
  .pre-scrollable { max-height: 340px; overflow-y: scroll; }
  
  .container { margin-right: auto; margin-left: auto; padding-left: 15px; padding-right: 15px; }
  
  .container:before, .container:after { content: " "; display: table; }
  
  .container:after { clear: both; }
  
  @media (min-width: 768px) { .container { width: 750px; } }
  
  @media (min-width: 992px) { .container { width: 970px; } }
  
  @media (min-width: 1200px) { .container { width: 1170px; } }
  
  .container-fluid { margin-right: auto; margin-left: auto; padding-left: 15px; padding-right: 15px; }
  
  .container-fluid:before, .container-fluid:after { content: " "; display: table; }
  
  .container-fluid:after { clear: both; }
  
  .row { margin-left: -15px; margin-right: -15px; }
  
  .row:before, .row:after { content: " "; display: table; }
  
  .row:after { clear: both; }
  
  
  
  
  
  
  
  
  .clearfix:before, .clearfix:after { content: " "; display: table; }
  
  .clearfix:after { clear: both; }
  
  .center-block { display: block; margin-left: auto; margin-right: auto; }
  
  .pull-right { float: right !important; }
  
  .pull-left { float: left !important; }
  
  .hide { display: none !important; }
  
  .show { display: block !important; }
  
  .invisible { visibility: hidden; }
  
  .text-hide { font: 0/0 a; color: transparent; text-shadow: none; background-color: transparent; border: 0; }
  
  .hidden { display: none !important; }
  
  .affix { position: fixed; }
  
  @-ms-viewport { width: device-width; }
  
  .visible-xs { display: none !important; }
  
  .visible-sm { display: none !important; }
  
  .visible-md { display: none !important; }
  
  .visible-lg { display: none !important; }
  
  .visible-xs-block, .visible-xs-inline, .visible-xs-inline-block, .visible-sm-block, .visible-sm-inline, .visible-sm-inline-block, .visible-md-block, .visible-md-inline, .visible-md-inline-block, .visible-lg-block, .visible-lg-inline, .visible-lg-inline-block { display: none !important; }
  
  @media (max-width: 767px) { .visible-xs { display: block !important; }
    table.visible-xs { display: table !important; }
    tr.visible-xs { display: table-row !important; }
    th.visible-xs, td.visible-xs { display: table-cell !important; } }
  
  @media (max-width: 767px) { .visible-xs-block { display: block !important; } }
  
  @media (max-width: 767px) { .visible-xs-inline { display: inline !important; } }
  
  @media (max-width: 767px) { .visible-xs-inline-block { display: inline-block !important; } }
  
  @media (min-width: 768px) and (max-width: 991px) { .visible-sm { display: block !important; }
    table.visible-sm { display: table !important; }
    tr.visible-sm { display: table-row !important; }
    th.visible-sm, td.visible-sm { display: table-cell !important; } }
  
  @media (min-width: 768px) and (max-width: 991px) { .visible-sm-block { display: block !important; } }
  
  @media (min-width: 768px) and (max-width: 991px) { .visible-sm-inline { display: inline !important; } }
  
  @media (min-width: 768px) and (max-width: 991px) { .visible-sm-inline-block { display: inline-block !important; } }
  
  @media (min-width: 992px) and (max-width: 1199px) { .visible-md { display: block !important; }
    table.visible-md { display: table !important; }
    tr.visible-md { display: table-row !important; }
    th.visible-md, td.visible-md { display: table-cell !important; } }
  
  @media (min-width: 992px) and (max-width: 1199px) { .visible-md-block { display: block !important; } }
  
  @media (min-width: 992px) and (max-width: 1199px) { .visible-md-inline { display: inline !important; } }
  
  @media (min-width: 992px) and (max-width: 1199px) { .visible-md-inline-block { display: inline-block !important; } }
  
  @media (min-width: 1200px) { .visible-lg { display: block !important; }
    table.visible-lg { display: table !important; }
    tr.visible-lg { display: table-row !important; }
    th.visible-lg, td.visible-lg { display: table-cell !important; } }
  
  @media (min-width: 1200px) { .visible-lg-block { display: block !important; } }
  
  @media (min-width: 1200px) { .visible-lg-inline { display: inline !important; } }
  
  @media (min-width: 1200px) { .visible-lg-inline-block { display: inline-block !important; } }
  
  @media (max-width: 767px) { .hidden-xs { display: none !important; } }
  
  @media (min-width: 768px) and (max-width: 991px) { .hidden-sm { display: none !important; } }
  
  @media (min-width: 992px) and (max-width: 1199px) { .hidden-md { display: none !important; } }
  
  @media (min-width: 1200px) { .hidden-lg { display: none !important; } }
  
  .visible-print { display: none !important; }
  
  @media print { .visible-print { display: block !important; }
    table.visible-print { display: table !important; }
    tr.visible-print { display: table-row !important; }
    th.visible-print, td.visible-print { display: table-cell !important; } }
  
  .visible-print-block { display: none !important; }
  
  @media print { .visible-print-block { display: block !important; } }
  
  .visible-print-inline { display: none !important; }
  
  @media print { .visible-print-inline { display: inline !important; } }
  
  .visible-print-inline-block { display: none !important; }
  
  @media print { .visible-print-inline-block { display: inline-block !important; } }
  
  @media print { .hidden-print { display: none !important; } }
  
  
  
  
  
  
  @media (max-width: 767px) { .job-listing-head .dropdown-title { padding: 0; margin: 0 0 5px; } }
  
  .open-positions-container { font-size: 18px; line-height: 36px; border-top: 4px solid #17468f; margin: 0 0 50px; }
  
  @media (max-width: 767px) { .open-positions-container { margin: 0 -20px 30px; font-size: 16px; line-height: 24px; } }
  
  .open-positions-container h3 { font-size: 24px; line-height: 36px; color: #17468f; margin: 0; font-weight: bold; }
  
  @media (max-width: 767px) { .open-positions-container h3 { font-size: 18px; line-height: 22px; margin: 0 0 11px; } }
  
  .open-positions-container h3 a { color: inherit; }
  
  .open-positions-container .content-container { display: flex; justify-content: space-between; border: 1px solid #ccc; border-width: 0 1px 1px 1px; background: #fff; }
  
  @media (max-width: 767px) { .open-positions-container .content-container { display: block; border-width: 0 0 1px; padding: 16px 20px 13px; } }
  
  .open-positions-container .content-container:nth-child(even) { background: #f8f8f8; }
  
  .open-positions-container ul { padding: 3px 0 0; margin: 0 -8px; }
  
  @media (max-width: 767px) { .open-positions-container ul { margin: 0 -8px 13px; } }
  
  .open-positions-container ul li { position: relative; padding: 0 8px; }
  
  .open-positions-container ul li:not(:last-child):before { content: "|"; position: absolute; color: #ccc; right: -4px; top: -1px; }
  
  .open-positions-container .text-col { max-width: calc(100% - 267px); padding: 29px 40px; }
  
  @media (max-width: 767px) { .open-positions-container .text-col { width: 100%; padding: 0; max-width: none; } }
  
  .open-positions-container .date-col { display: flex; align-items: center; justify-content: center; text-align: center; width: 267px; border-left: 1px solid #ccc; font-size: 16px; padding: 15px 20px; }
  
  @media (max-width: 767px) { .open-positions-container .date-col { width: 100%; text-align: left; border: none; display: block; padding: 0; font-size: 14px; } }
  
  .open-positions-container .date-col b, .open-positions-container .date-col strong { font-weight: 900; }
  
  .open-positions-container .date-col p { margin: 0; }
  
  .not-found-text { border: 1px solid #ccc; border-top: 4px solid #17468f; font-size: 24px; line-height: 36px; margin: 0 0 80px; clear: both; overflow: hidden; padding: 45px 15px 30px; }
  
  .not-found-text h2 { font-size: 36px; line-height: 1; color: #17468f; margin: 0 0 4px; }
  
  @keyframes lds-spinner { 0% { opacity: 1; }
    100% { opacity: 0; } }
  
  .load-more-container { padding: 0 0 75px; }
  
  @media (max-width: 767px) { .load-more-container { padding: 0 0 45px; } }
  
  .load-more-container .load-more { font-size: 16px; font-weight: bold; color: #17468f; text-transform: capitalize; }
  
  .load-more-container .load-more .caret { height: 6px; border-top: 5px dashed; border-right: 5px solid transparent; border-left: 5px solid transparent; }
  
  .banner { min-height: 29vw; background-size: cover; background-position: 50% 50%; color: #fff; font-size: 30px; line-height: 1.2; font-weight: 300; padding: 65px 0; position: relative; display: flex; align-items: center; }
  
  .banner:after { content: ''; display: block; width: 1px; margin: 0 -1px 0 0; height: calc(29vw  - 130px); }
  
  .banner:before { content: ""; position: absolute; top: 0; bottom: 0; left: 0; right: 0; background: linear-gradient(to top, #000 0%, rgba(0, 0, 0, 0) 100%); opacity: 0.5; }
  
  @media (max-width: 767px) { .banner { min-height: 340px; padding: 120px 0; font-size: 18px; } }
  
  .banner .container { position: relative; z-index: 1; }
  
  .banner p { margin: 0; }
  
  .banner h1 { font-size: 60px; line-height: 1.2; font-weight: 900; margin: 0; letter-spacing: 1px; }
  
  @media (max-width: 767px) { .banner h1 { font-size: 30px; line-height: 1; } }
  
  .banner + .opening-container { transform: translateY(-50%); margin: 0 auto; }
  
  .banner .banner-text { margin-top: 0; }
  
  @media (max-width: 767px) { .banner .banner-text { margin-top: 15px; } }
