* {
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: rgb(23, 70, 143);
    overflow-y: scroll;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    background-color: rgb(255, 255, 255);
    overflow: auto;
  }

  .navbar a {
    float: right;
    text-align: center;
    padding: 12px;
    color: rgb(23, 70, 143);
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: rgb(185, 184, 184);
}
  
.active a {
    background-color:  rgb(185, 184, 184);
    font-size: 50px;
    text-decoration-line: underline;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
    width: 100%;
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: rgb(185, 184, 184);
    text-decoration-line: underline;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

@media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
}